/* 
 *  Some useful numbers...
 *
 *  When font-size is 1em/12pt/16px/100%:
 *  1px = 0.0625em (when PPI is 96)
 *  1in = 6em
 *  1pt = 0.0833333em (1/12em)
 *
 */

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222326;
}
@media print {
    html,
    button,
    input,
    select,
    textarea {
        color: #000;
    }
}

html {
    font-family: 'Cabin', sans-serif;
    font-size: 1em;
    line-height: normal;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* Fix for the way normalize.css handles sub-lists */
li>ul, li>ol {
    margin: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background: #222326;
    text-align: center;
}

em {
    font-style:italic;
    text-decoration:none;
}

a {
    color: #222326;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: #ba4423;
}

table {
    border-collapse:collapse;
}

table, th, td {
    border: 1px solid #222326;
}
@media print {
    table, th, td {
        border-color: #000;
    }
}

td, th {
    padding: .3em .6em;
}

.no-border, .no-border tr, .no-border tr th, .no-border tr td {
    border: none;
}

p,
pre {
    margin: .5em 0 1em; /* bring top of paragraphs closer to headers */
}

h1 {
    font-size: 1em;
    margin: 1.33em 0 0;
}

h2 {
    font-size: 3em;
    margin: 0.83em 0 0;
}

h2.first-in-section {
    margin: .1em 0 0;
}

h3 {
    font-size: 2em;
    margin: 1em 0 0;
}

h4 {
    font-size: 1em;
    margin: 0.1em 0 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0 0;
}

/* only direct childs of div elements, because most ul and li are...
   and if I do general to all ol and ul, then it will cause sub-bullets
    to be larger and larger at each level. */
p, div > ul, div > ol {
    font-size: 1.333em; /* 16pt font */
}

.title {
    margin-top: 1em;
    line-height:1;
}

.title img {
    margin-bottom: 1em;
    width: 100%;
    max-width: 53.3125em;
    min-width: 34em;
}

.rounded {
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    border-radius: 2.5em;
}

.stretchy-content {
    max-width: 50em;
    min-width: 34em;
    margin: 0 auto;
}

.section, .section-link {
    background-color: #fbf8f8;
    padding: 1em;
    margin: 1em;
}

.section ol, .section ul {
    text-align: left;
}

.section-link {
    display: inline-block;
    width: 20em;
    height: 8.3em;
    text-decoration: none;
    vertical-align: top;
    line-height: 8em; /* vertically centering contents: http://stackoverflow.com/questions/8865458/how-to-align-text-vertically-center-in-div-with-css */
}

.section-link span { /* inner span allows changing of font size without affecting rounded corner radius. */
    font-size: 3em;
    font-weight: bold;

    /* for vertically centering contents: http://stackoverflow.com/questions/8865458/how-to-align-text-vertically-center-in-div-with-css */
    display: inline-block;
    vertical-align: middle;    
    line-height: normal;
}

.section-link:hover {
    color: #fbf8f8;
    background-color: #ba4423;
}

.section-link:hover img {
    filter: invert(100%);
}

.bottom-padding {
    padding-bottom: 1em;
}

.footer {
    color: #fbf8f8;
}

    .footer a {
        color: #fbf8f8;
    }

    .footer a:hover {
        color: #ba4423;
    }
	
.inline-app-store {
	height: 1.3em;
	display: inline;
	vertical-align: bottom;
	padding: 0 0.2em 0.15em;
}

/*
 * page-specific stuff
 */

.platform-select {
    background-color: #fbf8f8;
    padding: 0.5em 1em 1em;
    margin: 1em auto;
    min-width: 32em;
}

    .platform-select h2 {
        margin: 0;
    }
    
    .platform-select .option {
        margin: 0.5em 1em 0;
        padding: 0.6em 1em;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: normal;
        display: inline-block;
    }
    
    .platform-select .option.selected, .platform-select a:hover {
        background-color: #ece9e9;
    }
    
.screenshot {
    width: 30em;
	border: 1px solid;
}

.manual-version a {
    padding: 1em;
    background-color: #ba4423;
    color: #fbf8f8;
    display: inline-block;
    width: 15em;
    margin: 0.5em;
    text-decoration: none;
}

.manual-version a:hover {
    background-color: #ea5D35;
    color: #fbf8f8;
}

.manual-version a span { /* inner span allows changing of font size without affecting rounded corner radius. */
    font-size: 1.5em;
}

.main-manual-version {
    width: 31em;
    margin: 0 auto 1em;
}
    .main-manual-version img {
        float:left;
        height: 13em;
    }

.post-main-version {
    clear: both;
    margin-top: 2em;
}

.table-host {
    padding-left: 0;
    padding-right: 0;
    min-width: 36em;
}

.game-overview-img {
    height: 12.125em;
    display: block;
    margin: 2.6em auto;
}

.game-overview-inline {
    display: inline-block;
	vertical-align:top;
}

.game-overview-inline img {
    height: 12.125em;
}

.control-diagram {
    display: inline-block;
    vertical-align:top;
}

.control-diagram img {
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px solid;
	height: 20em;
}
	
.note {
	font-size: 0.83em;
	text-align: left;
	margin-left: 2em;
}

.continue-button a {
    padding: 1em;
    background-color: #ba4423;
    color: #fbf8f8;
    display: inline-block;
    width: 20em;
    margin: 0.5em;
    text-decoration: none;
}

.continue-button a:hover {
    background-color: #ea5D35;
    color: #fbf8f8;
}

.continue-button a span { /* inner span allows changing of font size without affecting rounded corner radius. */
    font-size: 1.5em;
}

.language-globe {
	height: 3em;
	padding-right: 0.5em;
}

.warning-symbol {
	font-size: 10em;
	margin: -0.2em;
}

.language-container {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	flex-wrap: wrap;
}

.language-link {
    display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
    width: 20em;
    height: 6.3em;
    text-decoration: none;
    background-color: #ba4423;
	color: #fbf8f8;
    margin: 0.5em;
	-webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.language-link span { /* inner span allows changing of font size without affecting rounded corner radius. */
    font-size: 1.5em;
}

.language-link:hover {
	background-color: #ea5D35;
    color: #fbf8f8;
}

.language-link .language-url-small {
	font-size: 0.9em;
}

/*
	=====================================
	Localization
	=====================================
*/

.platform-subset-warning {
	display: block;
	margin:0;
    padding: 12px;
	background-color: #ba4423;
	color: #fbf8f8;
	font-size: 1.333em; /* 16pt font */
}

.platform-subset-warning .only-available-warning {
    font-weight: bold;
}

.platform-subset-warning a {
    text-decoration: underline;
    font-weight: bold;
    color: #fbf8f8;
}

.platform-subset-warning a:hover {
    color: #bdbfc7;
}

/*
	=====================================
	Email signup form
	=====================================
*/

.form-email label {
	font-size: 1.5em;
}

.form-email input, .form-email select {
	padding: 0.2em 0.8em;
	border: 1px solid #c6c9cc;
	border-radius: 4px;
	font-size: 1.4em;
	margin: 0 0.2em;
}

.form-email .button {
	border: none;
	background-color: #ba4423;
	color: #fbf8f8;
}

.form-email .button:hover {
    background-color: #ea5D35;
    color: #fbf8f8;
}

.email-terms {
	font-size: 0.7em;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }
    
    @page {
        margin: 0;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
